<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">	
		
	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="miDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/libreria_hibernate_jmir?useSSL=false" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

 	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="miDataSource" />

		<property name="mappingResources">
			<list>
				<value>com/grupoatrium/persistencia/mapeos/Direccion.hbm.xml</value>
				<value>com/grupoatrium/persistencia/mapeos/Autor.hbm.xml</value>
				<value>com/grupoatrium/persistencia/mapeos/Libro.hbm.xml</value>
				<value>com/grupoatrium/persistencia/mapeos/Editorial.hbm.xml</value>				
			</list>
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.connection.pool_size">1</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</prop>
				<prop key="hibernate.enable_lazy_load_no_trans">true</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean> 
	
	<bean id="direccionDao" class="com.grupoatrium.persistencia.impl.DireccionDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="autorDao" class="com.grupoatrium.persistencia.impl.AutorDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="libroDao" class="com.grupoatrium.persistencia.impl.LibroDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="editorialDao" class="com.grupoatrium.persistencia.impl.EditorialDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


</beans>

