<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.3.xsd
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util-4.3.xsd">

	<context:annotation-config />
	

	<!-- 4- Inyección de propiedades colección-->

		<!-- Estp es la lista de autores que hemos definido en la clase, ya que no se puede -->
		<util:list id="autores4" value-type="com.grupoatrium.modelo.Autor">
					<ref bean="autor" />
					<bean class="com.grupoatrium.modelo.Autor">
						<property name="comentarios" value="Del Director EXTRA" />
						<property name="nacionalidad" value="Español" />
						<property name="nombre" value="autores16.3" />
					</bean>
		</util:list>
			
			
	<!-- 11 -Cargamos el archivo de propiedades base de datos - Required-->
		
		<!-- Creamos un bean y comprobamos que tenemos un connectionMgr y que la anotación Required no lanza excepción -->
		<bean id="librosDAO" class="com.grupoatrium.persistencia.impl.LibrosDAO">
			<property name="connMgr" ref="connectionMgr" />
		</bean>   

	
	<context:component-scan base-package="com.grupoatrium" />
</beans>

